{namespace TerminalComponent}

/**
 */
{template .render}
  <div class="start-demo-console">
    <div class="start-demo-banner">
      <div class="start-demo-controls"></div>
    </div>
    <div class="start-demo-content">
      <pre></pre>
    </div>
  </div>
{/template}
